<h1>Sqrt#view</h1>
<p>Find me in app/views/sqrt/view.html.erb</p>

<table border="1">
  <tr>
    <th>Итерация</th>
    <th>Результат вычисления</th>
  </tr>

  <% @guesses.each_with_index do |guess, index| %>
    <tr>
      <td><%= index == 0 ? "Ввод" : index %></td>
      <td><%= guess %></td>
    </tr>
  <% end %>
</table>

<%= link_to "Повторить вычисления", :sqrt_input%>
